body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.login {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: cornflowerblue;
}
.login h1{
    float: left;
    font-size: 40px;
    border-bottom: 3px solid teal;
    padding: 13px 0;
    width: 200px;
    margin-bottom: 50px;
}
.textbox {
    width: 100%;
    padding: 8px 0;
    margin: 8px 0;
    overflow: hidden;
    border-bottom: 1px solid;
    font-size: 20px;
}
.textbox i {
    width: 16px;
    float: left;
    text-align: center;
}
.textbox input {
    border: none;
    outline: none;
    background: none;
    color: #fefefe;
    transition: 0.7s ease;
    font-size: 18px;
}
.textbox input:hover {
    font-size: 18px; 
    color: black;
}

.btn {
    border: 2px solid teal;
    padding: 5px;
    margin: 5px;
    width: 90px;
    background: none;
    margin-top: 5px;
    outline: none;
    height: 40px;
    font-size: 20px;
    border-radius: 9px;
    transition: 0.4s ease;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: left;
}
.btn:hover {
    border: 1px solid white;
     color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    font-size: 16px;
    -webkit-animation: ease;
}
